<nav>
    <div class="site-title">
    <!-- < %= name %> --> <!--output the data -->
    <a href="/"><h1>CineVerse</h1></a><br>
    <p>Hello Cinema Priyulu!</p>
    <p>Welcome to the review hub, your go-to destination for all things cinema. </p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>